/*h1{
	color:red;
	margin:2em 5em;
}*/
.sailboat {
	color:#00F;
}

.strawberry {
	font-size: 10em;
}



.logo {
	color:#FF69B4;
}

.logo {
	font-family: 'Raleway Dots', cursive;
	font-weight:normal;
}
.logo
